<hr>
<div align="center"><font size="1">
  All content is &copy;opyright CrazedSanity 
  Computer Industries, 1998-{curYear}. <br>
  CrazedSanity Computer Industries is a division of <a href="http://unlimited.buzzkill.org">BuzzKill 
  Productions Unlimited &reg;</a>. All rights reserved. <br>
  For questions, to report a problem, or to offer your first born child as a sacrifice, 
  contact <a href="mailto:webmaster@127.0.0.1">webmaster -at- crazedsanity.com</a>.</font><BR><BR>
</div>
