<html>
 
<head>
<title>{html_title}</title>
<link rel="stylesheet" href="/css/crazed.css" type="text/css">
<script language="javascript" src="/js/crazed.js" type="text/javascript"></script>
</head>

<LINK REL="SHORTCUT ICON" HREF="/favicon.ico">
<BODY bgcolor='white' text='#666666' link='#006666' vlink='#333355' alink='#FF0000' bgproperties='fixed'>

<table border=0 cellpadding=0 cellspacing=0 width="90%" align="center">
<tr>
	<!-- This row should span across the page. -->
	<td align="center" colspan=2>
		{header} 
		{error_msg}
	</td>
</tr>
<tr valign=top>
	<td>
	{menu}
	</td>

	<td align="center"> 
	<table border=0 cellspacing=2 cellpadding=2 width="100%">
	<tr>
		<td>
		{content}
		</td>
	</tr>
	</table>
	</td>
</tr>
<tr>
	<td colspan="2">
	{footer}
	</td>
</tr>
</table>

</body>
</html>
