<table>
<!-- BEGIN menu_row-index -->
<tr> 
 	<td align="center" nowrap="nowrap">
 		{lsel_content} <a href="/content/index.html">Main page</a> {rsel_content}
 	<br>
 	<br>
 	</td>
 </tr>
 <!-- END menu_row-index --><!-- BEGIN menu_row-member -->
 <tr> 
 	<td align="center" nowrap="nowrap">

 		{lsel_member} <a href="/content/member.html" title="Blogs & stuff... not just for members!">Members Area</a> {rsel_member}
 	<br>
 	<br>
 	</td>
 </tr>
 <!-- END menu_row-member --><!-- BEGIN menu_row-slaughterstock -->
 <tr> 
 	<td align="center" nowrap="nowrap">

 		{lsel_slaughterstock} <a href="/slaughterstock/" 
 			title="The coolest annual party EVER (probably)">SlaughterStock</a> {rsel_slaughterstock}
 	<br>
 	<br>
 	</td>
 </tr>
 <!-- END menu_row-slaughterstock --><!-- BEGIN menu_row-devCorner -->
 <tr> 
 	<td align="center" nowrap="nowrap">
 		{lsel_devCorner} <a href="/content/devCorner.html">Developer's Corner</a> {rsel_devCorner}
 	<br>

 	<br>
 	</td>
 </tr>
 <!-- END menu_row-devCorner --><!-- BEGIN menu_row-links -->
 <tr> 
 	<td align="center" nowrap="nowrap">
 		{lsel_links} <a href="/content/links.html">Links</a> {rsel_links}
 	<br>
 	<br>

 	</td>
 </tr>
 <!-- END menu_row-links --><!-- BEGIN menu_row-contact -->
 <tr> 
 	<td align="center" nowrap="nowrap">
 		{lsel_contact} <a href="/content/contact.html">Contact Us</a> {rsel_contact}
 	<br>
 	<br>
 	</td>
 </tr>
 <!-- END menu_row-contact -->
 </table>
